*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
img{
    max-width: 100%;
}
header{
background-color: rgb(150, 130, 168);
padding: 20px;
}

header img{
    width: 250px;
    margin: 0 auto;
    display: block;

}

#main_menu{
    list-style: none;
    text-align: center;
}

#main_menu li{
    display: inline-block;
    margin: 0 10px;

}


#main_menu a{
    background:red;
    color:rgb(255, 255, 255);
    padding: 5px 15px;
    text-decoration: none;
    font-size: 14px;
}
section{
    background:lightblue;
    display: flex;
}
div{
    padding: 20px;
    width: 60% ;
}
div h1{
    margin-bottom: 20px;
}
aside{
    padding: 28px;
    width: 40%;
}
aside ul{
    margin-left: 20px ;
    margin-top: 10px;
}
 footer{
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
 }